<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to Sam & Seb's Website</h1>

  <h2>  
  </h2>
  <% if logged_in? %>
  <%= link_to "Wedding Info", wedding_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Guess Who! (#{current_user.get_answered_questions_count}/#{guess_who_questions_count} answered)", guess_who_questions_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Request Songs", new_song_request_path, class: "btn btn-lg btn-primary" %>
  <% if current_user.admin? %>
  <%= link_to "Our Story", our_story_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <p>
  </p>
  
  <p>
  Hi <%= current_user.first_name %>,<br>
  <br>
  Once again thank you for being a part of our lives.<br>
  We are really excited about our upcoming big day and having you with us.<br>
  As we are getting closer to the date, we will be updating the site.<br>
  Hence please don't forget to come back to participate in all the fun we have in store.<br>
  <br>
  Love,<br>
  Sam & Seb
  </p>
  
  <h2 style="color:green">Breaking News!!!</h2>
  <p>
  <ul>
     <li>The more you stalk our website, the better your chances to win. So make sure you come back daily ;). You have <%= current_user.logins %> login points so far!!!</li>
	 <li>You also get more points for requesting songs!!! You have <%= current_user.song_requests.size %> requets points so far!!!</li>
  </ul>
  </p>
  <% else %>
  	<p>
  	Please log in or <%= link_to "contact us", new_message_path %> to see more.
    </p>
  
<% end %>
</div>
<div class="center jumbotron">  
	<%= image_tag(random_pic, :height => "auto", :width => "75%", alt: random_pic) %>
</div>
