<div>
<%= form_tag(users_path, method: "get") do %>
<table>
<tr>
    <th><%= label_tag(:country_param, "Country:") %></th>
    <th><%= label_tag(:address_param, "Address:") %></th>
    <th><%= label_tag(:email_param, "Email:") %></th>
    <th><%= label_tag(:admin_param, "Admin:") %></th>
</tr>
<tr>
	<td><%= select_tag(:country_param, options_for_select([['All', ''], ['USA', 'country '], ['CANADA', 'A'], ['HAITI', 'A'], ['OTHER', 'A']]) )%></td>
	<td><%= select_tag(:address_param, options_for_select([['All', ''], ['Unknown', 'address is null'], ['Known', 'address is not null']]) )%></td>
	<td><%= select_tag(:email_param, options_for_select([['All', ''], ['Unknown', 'email is null'], ['Known', 'email is not null']]) )%></td>
	<td><%= select_tag(:admin_param, options_for_select([['All', ''], ['Yes', 'admin = 1'], ['No', 'admin = 0']]) )%></td>
</tr>
</table>
<%= submit_tag("Apply Filters") %>
<% end %>
</div>
