<tr>
<td><%= link_to full_name(user), user %></td>
<td><%= user.username %></td>
<td><%= user.email %></td>
<td><%= user.address %></td>
<td><% if !user.family.nil? %>
    <%= link_to user.family.family_name, user.family %>
    <% end %>
</td>
<% if current_user.admin? %>
<td><%= user.logins %></td>
<td><% if !user.table.nil? %>
    <%= link_to table_name(user.table), user.table %>
	<% end %></td>
<% if !user.is_coming %>
  <td></td>
<% else %>
  <td><% user_available_tables(@available_tables,user.table_id).each do |table| %>
    <%= link_to "#{table.number}", [:add_user, user, table] %>  
  <% end %>
  </td>
<% end %>
<td><%= "#{user.get_guess_who_right_answers_count}/#{user.get_answered_questions_count}" %></td>
<% end %> 
<td> 
	<ul>
			<% if current_user.admin? || current_user?(user) %>
     		<li><%= link_to "edit", edit_user_path(user) %></li>
     		
     		<li>
     			<% if user.activated? %>
     			 	<%= link_to "deactivate", deactivate_user_path(user) %>
     			<% else %>
     			 	<%= link_to "activate", activate_user_path(user) %>
     			<% end %>
     		</li>
     		
     		<li>
     			<% if user.invited? %>
     			 	<%= link_to "uninvite", uninvite_user_path(user) %>
     			<% else %>
     			 	<%= link_to "invite", invite_user_path(user) %>
     			<% end %>
     		</li>
     		
     		<li>
     			<% if user.is_coming? %>
     			 	<%= link_to "is not coming", isnotcoming_user_path(user) %>
     			<% else %>
     			 	<%= link_to "is coming", iscoming_user_path(user) %>
     			<% end %>
     		</li>
     		
     		<li>
     			<% if user.is_adult? %>
     			 	<%= link_to "is kid or vendor", set_is_not_adult_user_path(user) %>
     			<% else %>
     			 	<%= link_to "is adult", set_is_adult_user_path(user) %>
     			<% end %>
     		</li>
     		
     			<% if user.table %><li>

     			 	<%= link_to "remove from table", untable_user_path(user) %>
     			</li><% end %>
     	<% if current_user.admin? && !current_user?(user) %>
   			<li><%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %></li>
     	<% end %>
      <% end %>
     </ul>
</td>

</tr>
