<tr>
<td><%= link_to full_name(user), user %></td>
<td><%= user.username %></td>
<td><%= user.email %></td>
<td><%= user.address %></td>
<td> <% if current_user.admin? || current_user?(user) %>
     <%= link_to "edit", edit_user_path(user) %>
     <% end %> 
     <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
     <% end %>
</td>

<tr>
