<% provide(:title, 'All guests') %>
<div class="center jumbotron">
	<h1>All guests</h1>
	<h3>We now have <%= User.count %> guests!!!</h3>
	<h3><%= User.where(invited: true).count %> guests will be invited!!!</h3>
	<h3><%= User.where(is_coming: true).count %> guests are coming!!!</h3>
	<%= link_to "Add guest!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= render 'filters' %>

<div>
</div>

<%= will_paginate %>

<table>
<tr>
    <th>First Name</th>
    <th>Last Name</th>	
    <th>Actions</th>
</tr>
<%= form_tag(new_user_path, method: "get") do %>
<tr>  
  <td><%= text_field_tag :first_name, '', size: 15 %></td>
  <td><%= text_field_tag :last_name, '', size: 15 %></td>
  <td><%= submit_tag "add guest" %></td>
</tr>
<% end %>
</table>

<table>
<tr>
    <th>Full Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>Address</th>
    <% if current_user.admin? %>
       <th>Admin</th>
       <th>Invited</th>
       <th>Is Coming</th>
    <% end %>		
    <th>Actions</th>
</tr>

  <%= render @users %>
</table>

<%= will_paginate %>