<% provide(:title, 'Final Guest Count') %>
<div class="center jumbotron">
	<h1>Final Guests Count</h1>
	<h3>Guests: <%= adult_count %></h3>
	<h3>Children: <%= child_count %></h3>
	<h3>Vendors: <%= vendor_count %></h3>
</div>

<table>
<tr><td>Table #</td><td>Name</td><td>Table #</td><td>Name</td><td>Table #</td><td>Name</td></tr>
<tr>
<% @users.each do |guest| %>
	<td><%= guest.table.number unless guest.table.nil? %></td><td><%= full_name(guest) %></td>
    <% @count+=1 %>
    <% if @count%3==0 %></tr><tr>
	<% end %>
<% end %>
</tr>
</table>
