<% provide(:title, 'All guests') %>
<div class="center jumbotron">
	<h1>All guests</h1>
	<h3>We now have <%= User.count %> guests!!!</h3>
	<h3><%= User.where(is_coming: true).count %> guests are coming:</h3>
	<h3>125 base adults.</h3>
	<h3><%= User.where(is_adult: true).where(is_coming: true).count - 125 %> extra adults.</h3>
	<h3><%= User.where(is_adult: false).where(is_coming: true).count %> children or vendors.</h3>
	<%= link_to "Add guest!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= render 'filters' %>

<div>
</div>

<%= will_paginate %>

<table>
<tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Password</th>
    <th>Password Confirmation</th>
    <th>Family</th>	
    <th>Actions</th>
</tr>
<%= form_for(@user=User.new) do |f| %>
      <%= render 'shared/error_messages' %>
<tr>  
  <td><%= f.text_field :first_name, size: 15 %></td>
  <td><%= f.text_field :last_name, size: 15 %></td>
  <td><%= f.password_field :password, :value => 'password',  class: 'form-control' %></td>
  <td><%= f.password_field :password_confirmation, :value => 'password',  class: 'form-control' %></td>
  <td><%= f.collection_select(:family_id, Family.all.order(:family_name), :id, :family_name) %></td>
  <td><%= f.submit "add guest" %></td>
</tr>
<% end %>
</table>

<table>
  
  <%= render 'user_headers' %>

  <%= render @users %>
</table>

<%= will_paginate %>
